<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ch5final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_univ"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_univ"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ch5final">
        <activity
            android:name=".wilis"
            android:exported="false" />
        <activity
            android:name=".water"
            android:exported="false" />
        <activity
            android:name=".pier"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>